<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registration.Properties.Settings.RegisrationConnectionString"
            connectionString="Data Source=|DataDirectory|\Regisration.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Registration.Properties.Settings.DetailConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Detail.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>